@import "variable";
/*****************Platform********************/
.platform{
  background: $background;
  .platform-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 993px){
      flex-direction: column;
      text-align: center;
    }

    .platform-text{

      .platform-text__sale{
        display: inline-block;

        font-size: 16px;
        font-weight: 400;

        line-height: calc(28 / 16 * 100%);

        border-radius: 32px;

        color: white;
        background: rgba(255, 255, 255, 0.1);

        padding: 4px 11px 4px 4px;
        margin: 0 0 24px 0;

        @media (max-width: 390px){
          display: flex;
          margin: 0;
        }

        .platform-text__span{
          font-size: 16px;
          font-weight: 500;

          line-height: calc(24 / 16 * 100%);

          color: $background;
          background: white;

          margin: 0 16px 0 0;
          padding: 4px 16px;

          border-radius: 32px;
        }
      }
      .platform__title{
        font-size: 64px;
        font-weight: 700;

        line-height: calc(76 / 64 * 100%);

        color: white;

        margin: 0 0 24px 0;

        @media (max-width: 600px){
          font-size: 54px;
        }
        @media (max-width: 495px){
          font-size: 40px;
        }
      }
      .platform__text{
        font-size: 16px;
        font-weight: 400;

        line-height: calc(28 / 16 * 100%);

        color: $textColor;

        margin: 0 0 32px 0;
      }
      .platform__button{
        font-size: 18px;
        font-weight: 500;

        line-height: calc(28 / 18 * 100%);

        color: white;
        background: $buttonColor;

        padding: 16px 24px;

        border: none;
        border-radius: 32px;
      }
    }
  }
}
/***************Statistic*****************/
.statistic{
  background: $background;

  .statistic-body{
    display: flex;

    padding: 100px 0 116px 0;

    & > *:not(:last-child){
      margin: 0 100px 0 0;

      @media (max-width: 1161px){
        margin: 0;
      }
      @media (max-width: 993px){
        margin: 0 0 35px 0;
      }
    }

    @media (max-width: 993px){
      flex-wrap: wrap;
      justify-content: center;
    }

    .statistic-column{
      display: flex;
      flex: 0 1 33.333%;

      @media (max-width: 993px){
        flex: 0 1 50%;
        justify-content: center;
      }
      @media (max-width: 700px){
        flex: 0 1 100%;
        justify-content: flex-start;
      }

      .statistic-item{
        display: flex;
        align-items: center;


        & > *:not(:last-child){
          margin: 0 24px 0 0;
        }

        .statistic__img{
          background: rgba(255, 255, 255, 0.1);
          clip-path: circle(48% at center center);

          img{
            padding: 24px;
          }
        }
        .statistic-info{
          & > *:not(:last-child){
            margin: 0 0 4px 0;
          }
          .statistic__title{
            font-size: 40px;
            font-weight: 700;

            line-height: calc(60 / 40 * 100%);

            color: white;
          }
          .statistic__text{
            font-size: 16px;
            font-weight: 400;

            line-height: calc(28 / 16 * 100%);

            color: $textColor;
          }
        }
      }
    }
  }
}
/*****************Salary****************/
.salary-header{
  justify-content: center;
  text-align: center;

  .salary-title{
    font-size: 40px;
    font-weight: 700;

    line-height: calc(60 / 40 * 100%);

    color: white;
  }
  .salary-text{
    font-size: 18px;
    font-weight: 400;

    line-height: calc(27 / 18 * 100%);

    color: white;
  }
}
.salary-body{
  max-width: 942px;
  margin: 60px auto 0 auto;
  background: #FBFCFE;
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.5));
  border-radius: 16px 16px 0 0;

  .salary-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;

    @media (max-width: 700px){
      flex-direction: column;

      & > *:not(:last-child){
        margin: 0 0 30px 0;
      }
    }

    .salary-input__hash{
      padding: 0 214px 8px 0;

      border: none;
      border-bottom: 1px solid rgba(224, 224, 224, 1);

      @media (max-width: 900px){
        padding: 0 80px 8px 0;
      }
      @media (max-width: 400px){
        padding: 0 60px 8px 0;
      }

      &::placeholder{
        font-size: 20px;
        font-weight: 400;

        line-height: calc(30 / 20 * 100%);

        color: black;

        @media (max-width: 400px){
          font-size: 16px;
        }
      }
    }
    .salary__select{
      padding: 0 135px 8px 0;
      border: none;
      border-bottom: 1px solid rgba(224, 224, 224, 1);

      @media (max-width: 900px){
        padding: 0 50px 8px 0;
      }
    }
    .salary__button{
      font-size: 18px;
      font-weight: 500;

      line-height: calc(27 / 18 * 100%);

      color: white;

      padding: 16px 32px;

      border-radius: 32px;
      border: none;

      background: $buttonColor;
      transition: .5s ease background-color;

      &:hover{
        background: $background;
      }
    }
  }
}
.c-salary-body{
  max-width: 942px;
  margin: 0 auto;
  background: white;
  border-radius: 0 0 32px 32px;
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.5));

  .salary-item{
    padding: 48px 0 48px 48px;

    @media (max-width: 375px){
      padding: 48px 0 48px 20px;
    }

    .item-title{
      font-size: 16px;
      font-weight: 500;

      line-height: calc(24 / 16 * 100%);

      color: $buttonColor;

      margin: 0 0 16px 0;
    }
    .item-cash__title{
      font-size: 32px;
      font-weight: 700;

      line-height: calc(48 / 32 * 100%);

      color: $background;

      padding: 0 0 4px 0;

      @media (max-width: 600px){
        font-size: 26px;
      }
      @media (max-width: 430px) {
        display: flex;
        flex-direction: column;
      }

      span{
        font-size: 32px;
        font-weight: 700;

        line-height: calc(48 / 32 * 100%);

        color: $buttonColor;

        @media (max-width: 600px){
          font-size: 26px;
        }
      }
    }
    .item-text{
      font-size: 16px;
      font-weight: 400;

      line-height: calc(28 / 16 * 100%);

      color: $textColor;
    }
  }
}
/**************Cryptocurrency******************/
.crypto-header{
  text-align: center;
  padding: 100px 0 64px 0;

  .crypto-title{
    font-size: 40px;
    font-weight: 700;

    line-height: calc(60 / 40 * 100%);

    color: $background;

    @media (max-width: 445px){
      font-size: 30px;
    }
    @media (max-width: 315px){
      font-size: 26px;
    }
  }
}
.crypto-body{
  display: flex;

  margin: 0 -22.5px;
  padding: 0 0 100px 0;

  @media (max-width: 900px){
    flex-wrap: wrap;
    justify-content: center;
  }

  .crypto-column{
    flex: 0 1 33.333%;
    padding: 0 22.5px;

    @media (max-width: 900px){
      flex: 0 1 50%;
      padding: 0 22.5px 22.5px 22.5px;
    }
    @media (max-width: 600px){
      flex: 0 1 100%;
    }

    .crypto-item{
      text-align: center;
      background: white;

      border-radius: 16px;

      .item-img{
        padding: 48px 0 48px 0;
      }
      .item-title{
        font-size: 32px;
        font-weight: 700;

        margin: 0 0 16px;

        line-height: calc(48 / 32 * 100%);

        color: $background;

        .item-span{
          font-size: 18px;
          font-weight: 500;

          line-height: calc(27 / 18 * 100%);

          color: #BDBDBD;
        }
      }
      .item-text{
        font-size: 16px;
        font-weight: 400;

        line-height: calc(28 / 16 * 100%);

        color: $textColor;

        padding: 0 24px 25px 24px;
      }
      .item-arrow{
        padding: 0 0 48px 0;
        .arrow{
          border-radius: 100%;
          border: 2px solid rgba(43, 7, 110, 0.2);
          display: inline-block;
          img{
            padding: 22px 29px;
          }
        }
      }
    }
  }
}